.articles{
    width: 100%;
    margin-bottom: -50px;
    position: relative;
    z-index: 3;
    padding-top: 124px;
    overflow: hidden;
    margin-top: -55px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        height: 125px;
        width: 100%;
        min-width: 1440px;
        background: url('../img/article-top.png') top/cover no-repeat;
    }
    &__inner{
        width: 100%;
        overflow: hidden;
        background: #0A172E;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
        @include media(576){
            margin-bottom: 30px;
        }
    }
    &__title{
        font-family: 'Antikvarika';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        color: #FFFFFF;
        @include media(576){
            font-weight: 400;
            font-size: 32px;
            line-height: 36px;
            svg{
                display: none;
            }
        }        
    }
    &__btn{
        font-family: 'Antikvarika';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        letter-spacing: -0.02em;
        color: #D4EAE8;
        --bg: #D4EAE840 !important;
        @include media(992){
            &:not(.flex){
                display: none;
            }
        }
        &.sm{
            &:not(.flex){
                display: none;
            }
            margin-top: 25px;
            max-width: 343px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include media(992){
                display: flex;
            }
        }
    }
    &__swiper{
        width: 100%;
        position: relative;
        margin-bottom: 40px;
        @include media(576){
            margin-bottom: 24px;
        }
    }
    &__wrapper{
        display: flex;
        width: max-content;
    }
    &__content{
        padding-top: 170px;
        padding-bottom: 100px;
        background: url('../img/showcase-bg.png') top / cover no-repeat;
    }
    &__slide{
        box-shadow: inset 0px -4px 1px rgba(15, 51, 48, 0.25);
        background: #fff;
        @include rect(22px);
        padding: 32px 24px 24px 32px;
        width: 500px;
        background: url('../img/article-bg.png') center / cover no-repeat;
        @include media(576){
            padding: 20px;
        }
        &-title{
            font-family: 'Antikvarika';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 8px;
            color: #0E322F;
            @include media(576){
                font-size: 24px;
                line-height: 27px;
                margin-bottom: 12px;
            }
        }
        &-date{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: rgba(#0E322F, 0.6);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            margin-bottom: 16px;
            @include media(576){
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
            }
        }
        &-p{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #0E322F;  
            margin-bottom: 30px;   
            @include media(576){
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
            }       
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            font-family: 'Antikvarika';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: #0E322F;     
            --bg: #0E322F40 !important;
            font-family: 'Antikvarika';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-decoration: none;
            width: max-content;
            margin-left: auto;
            color: #0E322F; 
            @include media(576){
                display: none;
            }           
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: max-content;
        @include media(992){
            width: 100%;
        }
    }
    &__next,
    &__prev{
        transition: 300ms ease-out;
        line-height: 0;
        &.swiper-button-disabled{
            opacity: 0.5;
        }
    }
} 
