include gameplay.pug 
include rect.pug 

mixin hero()
    .hero 
        .hero__wrapper 
            .hero__body.container 
                h2.title 
                    +star-icon 
                    p Выбери своего героя
                    +star-icon
                .hero__content.swiper 
                    .swiper-wrapper 
                        .hero__slide.swiper-slide.rect 
                            +rect  
                            .hero__slide-img
                                img(src="@img/hero-big-1.png", alt="" draggable="false")
                            span.hero__slide-tag.rect Человек, Воин
                                +rect