mixin intro()
    .intro 
        .intro__body.container 
            .intro__content
                h1.intro__title Fantasy Hearts
                h2.intro__desc Тактическая пошаговая стратегия с увлекательным современным геймплеем