// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
html{
    width: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
body{
    background: #000;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    &.white{
        background: #fff;
        color: #000;
    }
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 48px;
    @include media(1200){
        svg{
            display: none;
        }
    }
    @include media(768){
        margin-bottom: 32px;
    }
    p{
        font-family: 'Antikvarika';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #0E322F;
        @include media(768){
            font-size: 32px;
            line-height: 36px;
        }
    }
}
.subtitle{
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-family: Antikvarika;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 63px;
    letter-spacing: -0.02em;
    color: #0E322F;
    @include media(768){
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        column-gap: 8px;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.rect{
    --bg: #D4EAE8;
    --size: 8px;
    position: relative;
    padding: 7px 12px;
    &>.rect{
        &-top{
            position: absolute;
            left: var(--size);
            right: var(--size);
            top: 0;
            height: 2px;
            background: var(--bg);
            &-left{
                position: absolute;
                height: calc(var(--size) + var(--size) / 4);
                background: var(--bg);
                left: calc(var(--size) / 2);
                top: 0;
                width: 2px;
                transform: rotate(45deg);
            }
            &-right{
                position: absolute;
                height: calc(var(--size) + var(--size) / 4);
                background: var(--bg);
                right: calc(var(--size) / 2);
                top: 0;
                width: 2px;
                transform: rotate(-45deg);
            }
        }
        &-right{
            position: absolute;
            top: var(--size);
            bottom: var(--size);
            right: 0;
            width: 2px;
            background: var(--bg);
        }
        &-bot{
            position: absolute;
            left: var(--size);
            right: var(--size);
            bottom: 0;
            height: 2px;
            background: var(--bg);
            &-left{
                position: absolute;
                height: calc(var(--size) + var(--size) / 4);
                background: var(--bg);
                left: calc(var(--size) / 2);
                bottom: 0;
                width: 2px;
                transform: rotate(-45deg);
            }
            &-right{
                position: absolute;
                height: calc(var(--size) + var(--size) / 4);
                background: var(--bg);
                right: calc(var(--size) / 2);
                bottom: 0;
                width: 2px;
                transform: rotate(45deg);
            }
        }
        &-left{
            position: absolute;
            top: var(--size);
            bottom: var(--size);
            left: 0;
            width: 2px;
            background: var(--bg);
        }
    }
}
.showcase{
    height: 206px;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 20px 20px #0A172E;
        z-index: 5;
    }
    .star{
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px #fff;
        border-radius: 50%;
        z-index: -1;
        animation: blink infinite;
    }
    .flying-star{
        opacity: 0;
        position: absolute;
        background: url('../img/flying-star-1.png') center / cover no-repeat;
        width: 68px;
        height: 5px;
        z-index: 1; 
        animation: linear blink-fly infinite;
        transform: rotate(-14.35deg);
    }
    .stars{
        animation: linear rotate infinite 400s;    
        height: 100%;
        padding-bottom: 200%;
        width: calc(100% + 100%);
        margin-left: -50%;
        margin-right: -50%;
        margin-top: -20%;
    }
    .moon{
        position: absolute;
        top: 60px;
        left: 28%;
        z-index: 2;
        img{
            box-shadow: inset 12px 8px 23px rgba(10, 23, 46, 0.74);
            filter: drop-shadow(0px 2px 40px rgba(138, 204, 232, 0.4));
            border-radius: 50%;
        }
    }
    .content{
        background: url('../img/leaderboard-background.png') top / cover no-repeat;
        padding-bottom: 100px;
        @include media(768){
            padding-top: 60px;
        }
    }
}

.news{
    width: 100%;
    position: relative;
    z-index: 3;
    padding-top: 55px;
    overflow: hidden;
    &__wrapper{
        background: url('../img/showcase-bg.png') top / cover no-repeat !important;
    }
    &__inner{
        width: 100%;
        overflow: hidden;
        background: #0A172E;
        padding-top: 100px;
    }
    &__top{
        position: relative;
        z-index: 5;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 16px;
        font-family: 'Antikvarika';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 63px;
        letter-spacing: -0.02em;
        color: #FFFFFF; 
        @include media(576){
            font-weight: 400;
            font-size: 32px;
            line-height: 36px;
        }       
    }
    &__breadcrumb{
        padding-top: 0 !important;
        padding-bottom: 40px !important;
        .breadcrumb__p{
            color: #fff !important;
            a{
                color: #fff !important;
            }
        }
    }
    &__showcase{
        margin-top: -140px !important;
        @include media(576){
            margin-top: 0 !important;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__article{
        width: 100%; 
    }
    &__moon{
        left: auto !important;
        right: 28% !important;
        @include media(576){
            left: 72px !important;
            right: auto !important;
            width: 65px !important;
            height: 65px !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}


.rules{
    padding-bottom: 95px;
    &__title{
        font-family: 'Antikvarika';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 63px;
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        color: #0E322F;  
        margin-bottom: 40px;
        @include media(576){
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 24px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        @include media(1400){
            flex-direction: column;
            row-gap: 40px;
        }
    }
    &__left{
        width: calc(50% - 25px);
        @include media(1400){
            width: 100%;
        }
        .rating__desc{
            @include media(576){
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    &__right{
        width: calc(50% - 25px);
        @include media(1400){
            width: 100%;
        }
    }
    &__item{
        @include rect-border(12px, 1px, #E3E3E3);
        padding: 40px 32px 48px 24px;
        @include media(576){
            padding: 0;
            clip-path: none;
            background: transparent;
            &::after{
                display: none;
            }
        }
        &-wrap{
            filter: drop-shadow(0px 4px 48px #0000001F);
            margin-bottom: 62px;
            @include media(1400){
                margin-bottom: 0;
            }
            @include media(576){
                filter: none;
            }
        }
        &-title{
            font-family: 'Antikvarika';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            margin-bottom: 16px;
            letter-spacing: -0.02em;
            color: #0E322F;
        }
        &-p{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #68827F;
            &:not(:last-of-type){
                margin-bottom: 32px;
            }
        }
    }
    &__info{
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #68827F;
        position: relative;
        padding-left: 28px;
        @include media(576){
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
        }
        &::before{
            content: '';
            position: absolute;
            width: 4px;
            height: 40px;
            background: #68827F;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &__btn{
        display: none;
        align-items: center;
        justify-content: center;
        @include rect-border(12px, 2px, #0E322F20);
        padding: 13px 16px;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        gap: 12px;
        font-family: 'Antikvarika';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-decoration: none;
        color: #0E322F;
        @include media(1400){
            display: flex;
        }
    }
    .store{
        &__item{
            width: 100% !important;
        }
        &__form{
            @include media(1400){
                margin-bottom: 40px;
            }
        }
    }
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes blink-fly {
    0% {
      opacity: 0;
      transform: translate(640px, -160px) rotate(-14.35deg);
    }
    10%{
        opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0px, 0px) rotate(-14.35deg);
    }
}

@keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0) translateY(0);
    }
    100% {
        transform: rotate(-360deg) translateY(-100px);
    }
}