doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Fantasy Hearts
    body.white 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .breadcrumb 
                    .breadcrumb__body.container
                        p.breadcrumb__p 
                            a(href="index.html") Главная
                            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#68827F"/>
                            </svg>
                            a(href="#!").active Об игре
                .about 
                    .about__item.about__top 
                        .about__item-body.container
                            .about__item-left
                                p.about__title 
                                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.5 0L17.1462 9.85378L27 13.5L17.1462 17.1462L13.5 27L9.85378 17.1462L0 13.5L9.85378 9.85378L13.5 0Z" fill="#0E322F"/>
                                    </svg>
                                    | Об игре
                            .about__item-right
                                p.about__p Мы делаем продукт для всех тех, кто любит олдскульные игры такие как Final Fantasy Tactics, “Герои меча и магии”, “Эадор” или Disciples. Fantasy Hearts — это игра с глубоким тактическим уклоном. Здесь нужно грамотно подбирать отряды и расставлять их на арене в соответствии с поставленной целью.  <br><br>Задача игрока — максимально прокачать своих персонажей и занять верхнюю строчку в таблице лидеров.
                    .about__header 
                        .about__header-body.container  
                            .about__swiper.swiper 
                                .about__wrapper.swiper-wrapper 
                                    a(href="#about-1").about__slide.swiper-slide.about-target Расы
                                    a(href="#about-2").about__slide.swiper-slide.about-target Арены
                                    a(href="#about-3").about__slide.swiper-slide.about-target Ход сражения
                                    a(href="#about-4").about__slide.swiper-slide.about-target Характеристики персонажей
                                    a(href="#about-5").about__slide.swiper-slide.about-target Гильдии
                                    a(href="#about-6").about__slide.swiper-slide.about-target Тренировки героев
                                    a(href="#about-7").about__slide.swiper-slide.about-target Подготовка к сражению
                                    a(href="#about-8").about__slide.swiper-slide.about-target Локации
                                    .about__slide.swiper-slide.wmore 
                    .about__item#about-1 
                        .container
                            .about__item-body
                                .about__item-left
                                    p.about__item-title Мир Fantasy Hearts населяют герои различных рас:
                                    p.about__item-p Каждый из них обладает особыми способностями, которые стоит учитывать при планировании стратегии сражения. Всего в бета-версии доступно 15 персонажей.
                                .about__item-right
                                    .about__heroes 
                                        .about__heroes-item
                                            .about__heroes-item-img
                                                img(src="@img/about-hero-1.png", alt="" draggable="false")
                                            p.about__heroes-item-p Люди
                                        .about__heroes-item
                                            .about__heroes-item-img
                                                img(src="@img/about-hero-2.png", alt="" draggable="false")
                                            p.about__heroes-item-p Гоблины
                                        .about__heroes-item
                                            .about__heroes-item-img
                                                img(src="@img/about-hero-3.png", alt="" draggable="false")
                                            p.about__heroes-item-p Эльфы 
                                        .about__heroes-item
                                            .about__heroes-item-img
                                                img(src="@img/about-hero-4.png", alt="" draggable="false")
                                            p.about__heroes-item-p Животные
                    .about__item#about-2 
                        .container
                            .about__item-body
                                .about__item-left
                                    p.about__item-title Игровое поле — боевая арена
                                    p.about__item-p За каждую победу над противником вы получаете очки рейтинга, а при поражении — теряете. <br>Все это происходит в месте под названием «Арена».
                                .about__item-right
                                    .about__showcase 
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-1_1.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Гексагоновое поле
                                                p.about__showcase-item-p Открывает большие возможности для расширения механик скиллов, а также дает бою более глубокий тактический рисунок.
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-1_2.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Бои PvP 5х5
                                                p.about__showcase-item-p Вы сможете спланировать стратегию, собрав армию понравившихся героев и расставив их так, как пожелаете. Либо воспользуйтесь готовыми решениями расстановок юнитов. В результате у вас выработается уникальный стиль боя.
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-1_3.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Арена с элементами, влияющими на ход игры
                                                p.about__showcase-item-p На игровом поле находятся различные преграды, за которыми удобно прятать лучников. А в обновлениях бета-версии появится возможность влияния местности на бой, например, холмы и болота. <br>Бой длится до уничтожения всех юнитов противника.
                    .about__item#about-3 
                        .container
                            .about__item-body 
                                .about__item-left 
                                    p.about__item-title Ход сражения 
                                .about__item-right 
                    .about__item#about-4 
                        .container 
                            .about__item-body
                                .about__item-left 
                                    p.about__item-title Характеристики персонажей 
                                .about__item-right 
                    .about__item#about-5
                        .container  
                            .about__item-body
                                .about__item-left
                                    p.about__item-title Гильдии
                                .about__item-right 
                                    .about__showcase 
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-2_1.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title В игре есть система гильдий
                                                p.about__showcase-item-p У каждой — свой герб и девиз. Вы можете вступить в существующую или создать свою. Если хотите играть только с друзьями, сделайте гильдию закрытой, чтобы посторонние не смогли попасть в нее без вашего ведома.
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-2_2.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Эмблема гильдии
                                                p.about__showcase-item-p Эмблему гильдии вы создаете в конструкторе, где можете выбрать символ, узор, основной цвет и форму. <br>Иерархия выглядит следующим образом:<br><b>• Герцог</b> — лидер гильдии.<br><b>• Графы</b> — его ближайшие помощники, их назначает лично герцог. Это могут быть люди, которые активно играют или имеют хорошие боевые показатели, очень сильный отряд, или просто потому, что они активно помогают новичкам в гильдии.<br><b>• Рыцари</b> — стоят ниже графов. Эти игроки пока не готовы стать графами, но имеют заслуги перед кланом.
                                    .about__info 
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="20" cy="20" r="19" stroke="#68827F" stroke-opacity="0.2" stroke-width="2"/>
                                            <path d="M20.0195 23.44C19.7662 23.44 19.5662 23.36 19.4195 23.2C19.2862 23.04 19.2062 22.8133 19.1795 22.52L18.5795 14.88C18.5395 14.3867 18.6462 13.9933 18.8995 13.7C19.1529 13.3933 19.5262 13.24 20.0195 13.24C20.4995 13.24 20.8595 13.3933 21.0995 13.7C21.3529 13.9933 21.4595 14.3867 21.4195 14.88L20.8195 22.52C20.8062 22.8133 20.7262 23.04 20.5795 23.2C20.4462 23.36 20.2595 23.44 20.0195 23.44ZM20.0195 27.6C19.5662 27.6 19.1995 27.46 18.9195 27.18C18.6529 26.9 18.5195 26.54 18.5195 26.1C18.5195 25.6733 18.6529 25.3267 18.9195 25.06C19.1995 24.78 19.5662 24.64 20.0195 24.64C20.4862 24.64 20.8462 24.78 21.0995 25.06C21.3662 25.3267 21.4995 25.6733 21.4995 26.1C21.4995 26.54 21.3662 26.9 21.0995 27.18C20.8462 27.46 20.4862 27.6 20.0195 27.6Z" fill="#68827F"/>
                                        </svg>
                                        p.about__info-p Кроме того, в игре есть чат, где вы найдете друзей и соратников, узнаете секреты игры, разделите радость победы или попросите совета у более опытных игроков.
                    .about__item#about-6
                        .container
                            .about__item-body
                                .about__item-left
                                    p.about__item-title Тренировки героев
                                .about__item-right
                                    .about__showcase 
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-3_1.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title В гильдиях проводятся тренировочные бои
                                                p.about__showcase-item-p Во время тренировки вы не тратите здоровье, не зарабатываете и не теряете очки рейтинга. Но получаете нечто большее — лучшее понимание тактики боя, сочетания и взаимодействия персонажей.
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-3_2.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Как провести тренировочный бой
                                                p.about__showcase-item-p 1. Выберите игрока из своей гильдии и тапните по его аватарке; <br>2. В появившемся профиле нажмите на кнопку “Бой”; <br> 3. Вызванный игрок получит оповещение об этом в чате гильдии. <br>Вызванный игрок может нажать кнопку тренировочный бой и выбрать из списка пригласивших его игроков того, с кем хочет сражаться.<br>В списке хранятся все игроки пригласившие на бой, пока они не вступят в любой другой бой (тренировочный или за рейтинг), либо пока не выйдут из игры.<br>Как только приглашение принято, оба игрока загружаются в бой.
                    .about__item#about-7
                        .container
                            .about__item-body
                                .about__item-left
                                    p.about__item-title Подготовка к сражению
                                .about__item-right
                                    .about__showcase 
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-4_1.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Формирование отряда
                                                p.about__showcase-item-p Окно формирования отряда можно посмотреть на скриншоте выше. Вы можете создать до пяти отрядов и переключаться между ними. При этом, один юнит может быть частью разных отрядов. В левой части интерфейса мы видим цифры над юнитами, они обозначают принадлежность к конкретным отрядам, в которых юнит состоит.
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-4_2.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Оценка отряда противника
                                                p.about__showcase-item-p Перед сражением вы можете увидеть, кто вам противостоит, какие у потенциального соперника юниты и какую награду он получит в случае победы. <br>Если награда кажется слишком маленькой или вы попросту не захотите сражаться против этого отряда, вы всегда сможете отказаться от битвы и выбрать другого случайного противника.
                    .about__item#about-8 
                        .container
                            .about__item-body
                                .about__item-left
                                    p.about__item-title Локации
                                .about__item-right
                                    .about__showcase 
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-5_1.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Город
                                                p.about__showcase-item-p Это небольшой городок, в котором можно найти все, что нужно:<br>• лавка магических предметов — в бета-версии доступны только свитки призыва героев;<br>• арена;<br>• таверна;<br>• здание гильдии;<br>• кузнец, у которого можно обзавестись новым оружием;<br>• портал, откуда игрок может призвать редких, легендарных и мифических героев. Кто именно появится, решает удача.
                                        .about__showcase-item 
                                            .about__showcase-item-img 
                                                img(src="@img/about-showcase-5_2.png", alt="" draggable="false")
                                            .about__showcase-item-content 
                                                p.about__showcase-item-title Таверна
                                                p.about__showcase-item-p Одна из главных локаций в игре. Место отдыха от долгих странствий и сражений.<br>Чем можно заняться в таверне?<br>• Брать ежедневные задания для получения наград<br>• Нанять забредших в таверну воинов в свой отряд<br>• Сыграть в кости вы сможете уже после обновления бета-версии, пока этот раздел в разработке
                                    .about__images 
                                        .about__images-item
                                            img(src="@img/about-showcase-5_3.png", alt="" draggable="false")
                                        .about__images-item
                                            img(src="@img/about-showcase-5_4.png", alt="" draggable="false")
                                    .about__info 
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="20" cy="20" r="19" stroke="#68827F" stroke-opacity="0.2" stroke-width="2"/>
                                            <path d="M20.0195 23.44C19.7662 23.44 19.5662 23.36 19.4195 23.2C19.2862 23.04 19.2062 22.8133 19.1795 22.52L18.5795 14.88C18.5395 14.3867 18.6462 13.9933 18.8995 13.7C19.1529 13.3933 19.5262 13.24 20.0195 13.24C20.4995 13.24 20.8595 13.3933 21.0995 13.7C21.3529 13.9933 21.4595 14.3867 21.4195 14.88L20.8195 22.52C20.8062 22.8133 20.7262 23.04 20.5795 23.2C20.4462 23.36 20.2595 23.44 20.0195 23.44ZM20.0195 27.6C19.5662 27.6 19.1995 27.46 18.9195 27.18C18.6529 26.9 18.5195 26.54 18.5195 26.1C18.5195 25.6733 18.6529 25.3267 18.9195 25.06C19.1995 24.78 19.5662 24.64 20.0195 24.64C20.4862 24.64 20.8462 24.78 21.0995 25.06C21.3662 25.3267 21.4995 25.6733 21.4995 26.1C21.4995 26.54 21.3662 26.9 21.0995 27.18C20.8462 27.46 20.4862 27.6 20.0195 27.6Z" fill="#68827F"/>
                                        </svg>
                                        p.about__info-p В игре есть возможность покупать виртуальные магические предметы за реальные деньги, но мы продумали игровой процесс так, чтобы вы получали удовольствие от игры и без этой опции.
            include components/footer 
            +footer
        script(src="js/app.min.js")  