doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Fantasy Hearts
    body.white 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .breadcrumb 
                    .breadcrumb__body.container
                        p.breadcrumb__p #[a(href="index.html") Главная]
                            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#68827F"/>
                            </svg>
                            | #[a(href="store.html").active Герои]
                section.heroes 
                    .heroes__body.container 
                        h2.store__subtitle.subtitle 
                            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 0L17.1462 9.85378L27 13.5L17.1462 17.1462L13.5 27L9.85378 17.1462L0 13.5L9.85378 9.85378L13.5 0Z" fill="#0E322F"/>
                            </svg> Герои
                        .heroes__row 
                            .heroes__item 
                                .heroes__item-img 
                                    img(src="@img/heroes-img-1.png", alt="")
            include components/footer 
            +footer
        script(src="js/app.min.js")  