doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Fantasy Hearts
    body.white 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .breadcrumb 
                    .breadcrumb__body.container
                        p.breadcrumb__p
                            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#68827F"/>
                            </svg>
                            | #[a(href="store.html").active Вернуться назад]
                section.new 
                    .new__body.container 
                        h2.new__subtitle.subtitle Новый персонаж — Доктор Фалькор
                        span.new__date 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.6">
                                <path d="M11.297 1.07821H10.7748V0.549805C10.7748 0.247901 10.5301 0.00317383 10.2282 0.00317383C9.92631 0.00317383 9.68158 0.247901 9.68158 0.549805V1.07821H4.31839V0.549805C4.31839 0.247901 4.07366 0.00317383 3.77176 0.00317383C3.46985 0.00317383 3.22513 0.247901 3.22513 0.549805V1.07821H2.70296C1.21254 1.07821 0 2.29075 0 3.78114V11.294C0 12.7844 1.21254 13.9969 2.70296 13.9969H11.2971C12.7875 13.9969 14 12.7844 14 11.294V3.78114C14 2.29075 12.7875 1.07821 11.297 1.07821ZM2.70296 2.17147H3.22513V3.2374C3.22513 3.53931 3.46985 3.78403 3.77176 3.78403C4.07366 3.78403 4.31839 3.53931 4.31839 3.2374V2.17147H9.68161V3.2374C9.68161 3.53931 9.92634 3.78403 10.2282 3.78403C10.5301 3.78403 10.7749 3.53931 10.7749 3.2374V2.17147H11.2971C12.1846 2.17147 12.9067 2.89357 12.9067 3.78114V4.30333H1.09326V3.78114C1.09326 2.89357 1.81536 2.17147 2.70296 2.17147ZM11.297 12.9037H2.70296C1.81536 12.9037 1.09326 12.1816 1.09326 11.294V5.3966H12.9067V11.294C12.9067 12.1816 12.1846 12.9037 11.297 12.9037ZM4.85592 7.54669C4.85592 7.84859 4.61119 8.09332 4.30929 8.09332H3.23425C2.93235 8.09332 2.68762 7.84859 2.68762 7.54669C2.68762 7.24479 2.93235 7.00006 3.23425 7.00006H4.30929C4.61117 7.00006 4.85592 7.24479 4.85592 7.54669ZM11.3124 7.54669C11.3124 7.84859 11.0677 8.09332 10.7658 8.09332H9.69074C9.38883 8.09332 9.14411 7.84859 9.14411 7.54669C9.14411 7.24479 9.38883 7.00006 9.69074 7.00006H10.7658C11.0676 7.00006 11.3124 7.24479 11.3124 7.54669ZM8.08105 7.54669C8.08105 7.84859 7.83632 8.09332 7.53441 8.09332H6.45938C6.15748 8.09332 5.91275 7.84859 5.91275 7.54669C5.91275 7.24479 6.15748 7.00006 6.45938 7.00006H7.53441C7.83629 7.00006 8.08105 7.24479 8.08105 7.54669ZM4.85592 10.7718C4.85592 11.0737 4.61119 11.3184 4.30929 11.3184H3.23425C2.93235 11.3184 2.68762 11.0737 2.68762 10.7718C2.68762 10.4699 2.93235 10.2252 3.23425 10.2252H4.30929C4.61117 10.2252 4.85592 10.4699 4.85592 10.7718ZM11.3124 10.7718C11.3124 11.0737 11.0677 11.3184 10.7658 11.3184H9.69074C9.38883 11.3184 9.14411 11.0737 9.14411 10.7718C9.14411 10.4699 9.38883 10.2252 9.69074 10.2252H10.7658C11.0676 10.2252 11.3124 10.4699 11.3124 10.7718ZM8.08105 10.7718C8.08105 11.0737 7.83632 11.3184 7.53441 11.3184H6.45938C6.15748 11.3184 5.91275 11.0737 5.91275 10.7718C5.91275 10.4699 6.15748 10.2252 6.45938 10.2252H7.53441C7.83629 10.2252 8.08105 10.4699 8.08105 10.7718Z" fill="#0E322F"/>
                                </g>
                            </svg>
                            | 12 мая в 13:47
                        p.new__desc.mb ⚙️ Друзья, хотим познакомить вас с новым героем Fantasy Hearts — Доктором Фалькором!
                        .new__img 
                            img(src="@img/news-img.png", alt="")
                        p.new__desc ⏫ О его умениях можно прочитать на постере.
                        p.new__desc ❗ Обратите внимание, что гениальный Доктор и его Оруженосец будут занимать два места в отряде и иметь характеристики как воина, так и рейнджера. Как вам такая фишка?
                        p.new__desc ⚔️ Доктор Фалькор ждет важного обновления в игровой механике, после которого сможет ворваться на поле боя. А пока у вас есть время подготовиться к появлению нового мифика
            include components/footer 
            +footer
        script(src="js/app.min.js")  