include components/rect.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title News - Fantasy Hearts
    body 
        .wrapper 
            include components/header 
            +header('6') 
            main.main 
                .news 
                    .news__inner
                        .news__top.container
                            .breadcrumb.news__breadcrumb
                                .breadcrumb__body
                                    p.breadcrumb__p #[a(href="index.html") Главная]
                                        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="white"/>
                                        </svg>
                                        | #[a(href="#!").active Новости]
                            .news__title 
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.5 0L17.1462 9.85378L27 13.5L17.1462 17.1462L13.5 27L9.85378 17.1462L0 13.5L9.85378 9.85378L13.5 0Z" fill="white"/>
                                </svg>
                                | Новости
                        .showcase.news__showcase
                            .moon.news__moon  
                                img(src="@img/moon.png", alt="" draggable="false")
                            .stars
                        .articles__content.news__wrapper
                            .articles__body.container 
                                .news__content
                                    .articles__slide.news__article 
                                        p.articles__slide-title Подробности прокачки персонажей
                                        p.articles__slide-date 
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.6" clip-path="url(#clip0_279_776)">
                                                <path d="M11.297 1.07808H10.7748V0.549683C10.7748 0.247779 10.5301 0.00305176 10.2282 0.00305176C9.92631 0.00305176 9.68158 0.247779 9.68158 0.549683V1.07808H4.31839V0.549683C4.31839 0.247779 4.07366 0.00305176 3.77176 0.00305176C3.46985 0.00305176 3.22513 0.247779 3.22513 0.549683V1.07808H2.70296C1.21254 1.07808 0 2.29062 0 3.78101V11.2939C0 12.7843 1.21254 13.9968 2.70296 13.9968H11.2971C12.7875 13.9968 14 12.7843 14 11.2939V3.78101C14 2.29062 12.7875 1.07808 11.297 1.07808ZM2.70296 2.17135H3.22513V3.23728C3.22513 3.53918 3.46985 3.78391 3.77176 3.78391C4.07366 3.78391 4.31839 3.53918 4.31839 3.23728V2.17135H9.68161V3.23728C9.68161 3.53918 9.92634 3.78391 10.2282 3.78391C10.5301 3.78391 10.7749 3.53918 10.7749 3.23728V2.17135H11.2971C12.1846 2.17135 12.9067 2.89345 12.9067 3.78101V4.30321H1.09326V3.78101C1.09326 2.89345 1.81536 2.17135 2.70296 2.17135ZM11.297 12.9036H2.70296C1.81536 12.9036 1.09326 12.1815 1.09326 11.2939V5.39647H12.9067V11.2939C12.9067 12.1815 12.1846 12.9036 11.297 12.9036ZM4.85592 7.54657C4.85592 7.84847 4.61119 8.0932 4.30929 8.0932H3.23425C2.93235 8.0932 2.68762 7.84847 2.68762 7.54657C2.68762 7.24466 2.93235 6.99994 3.23425 6.99994H4.30929C4.61117 6.99994 4.85592 7.24466 4.85592 7.54657ZM11.3124 7.54657C11.3124 7.84847 11.0677 8.0932 10.7658 8.0932H9.69074C9.38883 8.0932 9.14411 7.84847 9.14411 7.54657C9.14411 7.24466 9.38883 6.99994 9.69074 6.99994H10.7658C11.0676 6.99994 11.3124 7.24466 11.3124 7.54657ZM8.08105 7.54657C8.08105 7.84847 7.83632 8.0932 7.53441 8.0932H6.45938C6.15748 8.0932 5.91275 7.84847 5.91275 7.54657C5.91275 7.24466 6.15748 6.99994 6.45938 6.99994H7.53441C7.83629 6.99994 8.08105 7.24466 8.08105 7.54657ZM4.85592 10.7717C4.85592 11.0736 4.61119 11.3183 4.30929 11.3183H3.23425C2.93235 11.3183 2.68762 11.0736 2.68762 10.7717C2.68762 10.4698 2.93235 10.2251 3.23425 10.2251H4.30929C4.61117 10.2251 4.85592 10.4698 4.85592 10.7717ZM11.3124 10.7717C11.3124 11.0736 11.0677 11.3183 10.7658 11.3183H9.69074C9.38883 11.3183 9.14411 11.0736 9.14411 10.7717C9.14411 10.4698 9.38883 10.2251 9.69074 10.2251H10.7658C11.0676 10.2251 11.3124 10.4698 11.3124 10.7717ZM8.08105 10.7717C8.08105 11.0736 7.83632 11.3183 7.53441 11.3183H6.45938C6.15748 11.3183 5.91275 11.0736 5.91275 10.7717C5.91275 10.4698 6.15748 10.2251 6.45938 10.2251H7.53441C7.83629 10.2251 8.08105 10.4698 8.08105 10.7717Z" fill="#0E322F"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_279_776">
                                                <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            | 26 апреля в 20:14
                                        p.articles__slide-p Прокачивать героев можно двумя способами: #[br] 1. Прокачка характеристик — доступна всем персонажам. Можно улучшить такие характеристики, как HP, сила атаки, критический шанс, защита. На экране отображается, на сколько баллов будет улучшена характеристика (это показано на скрине). Характеристики улучшаются за стандартную игровую...
                                        a(href="new.html").articles__slide-btn.rect Подробнее 
                                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6H12" stroke="#0E322F"/>
                                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                                            </svg> 
                                            +rect
                                    .articles__slide.news__article 
                                        p.articles__slide-title Вышел новый патч
                                        p.articles__slide-date 
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.6" clip-path="url(#clip0_279_776)">
                                                <path d="M11.297 1.07808H10.7748V0.549683C10.7748 0.247779 10.5301 0.00305176 10.2282 0.00305176C9.92631 0.00305176 9.68158 0.247779 9.68158 0.549683V1.07808H4.31839V0.549683C4.31839 0.247779 4.07366 0.00305176 3.77176 0.00305176C3.46985 0.00305176 3.22513 0.247779 3.22513 0.549683V1.07808H2.70296C1.21254 1.07808 0 2.29062 0 3.78101V11.2939C0 12.7843 1.21254 13.9968 2.70296 13.9968H11.2971C12.7875 13.9968 14 12.7843 14 11.2939V3.78101C14 2.29062 12.7875 1.07808 11.297 1.07808ZM2.70296 2.17135H3.22513V3.23728C3.22513 3.53918 3.46985 3.78391 3.77176 3.78391C4.07366 3.78391 4.31839 3.53918 4.31839 3.23728V2.17135H9.68161V3.23728C9.68161 3.53918 9.92634 3.78391 10.2282 3.78391C10.5301 3.78391 10.7749 3.53918 10.7749 3.23728V2.17135H11.2971C12.1846 2.17135 12.9067 2.89345 12.9067 3.78101V4.30321H1.09326V3.78101C1.09326 2.89345 1.81536 2.17135 2.70296 2.17135ZM11.297 12.9036H2.70296C1.81536 12.9036 1.09326 12.1815 1.09326 11.2939V5.39647H12.9067V11.2939C12.9067 12.1815 12.1846 12.9036 11.297 12.9036ZM4.85592 7.54657C4.85592 7.84847 4.61119 8.0932 4.30929 8.0932H3.23425C2.93235 8.0932 2.68762 7.84847 2.68762 7.54657C2.68762 7.24466 2.93235 6.99994 3.23425 6.99994H4.30929C4.61117 6.99994 4.85592 7.24466 4.85592 7.54657ZM11.3124 7.54657C11.3124 7.84847 11.0677 8.0932 10.7658 8.0932H9.69074C9.38883 8.0932 9.14411 7.84847 9.14411 7.54657C9.14411 7.24466 9.38883 6.99994 9.69074 6.99994H10.7658C11.0676 6.99994 11.3124 7.24466 11.3124 7.54657ZM8.08105 7.54657C8.08105 7.84847 7.83632 8.0932 7.53441 8.0932H6.45938C6.15748 8.0932 5.91275 7.84847 5.91275 7.54657C5.91275 7.24466 6.15748 6.99994 6.45938 6.99994H7.53441C7.83629 6.99994 8.08105 7.24466 8.08105 7.54657ZM4.85592 10.7717C4.85592 11.0736 4.61119 11.3183 4.30929 11.3183H3.23425C2.93235 11.3183 2.68762 11.0736 2.68762 10.7717C2.68762 10.4698 2.93235 10.2251 3.23425 10.2251H4.30929C4.61117 10.2251 4.85592 10.4698 4.85592 10.7717ZM11.3124 10.7717C11.3124 11.0736 11.0677 11.3183 10.7658 11.3183H9.69074C9.38883 11.3183 9.14411 11.0736 9.14411 10.7717C9.14411 10.4698 9.38883 10.2251 9.69074 10.2251H10.7658C11.0676 10.2251 11.3124 10.4698 11.3124 10.7717ZM8.08105 10.7717C8.08105 11.0736 7.83632 11.3183 7.53441 11.3183H6.45938C6.15748 11.3183 5.91275 11.0736 5.91275 10.7717C5.91275 10.4698 6.15748 10.2251 6.45938 10.2251H7.53441C7.83629 10.2251 8.08105 10.4698 8.08105 10.7717Z" fill="#0E322F"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_279_776">
                                                <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            | 22 апреля в 10:08
                                        p.articles__slide-p Давайте знакомиться с новым патчем! 🔎 Что изменилось: 🔹 Исправлена расстановка: герои больше не встают в кучу ​​​​​​​перед боем​​​​​​​ 🔹 Упрощена прокачка персонажей. Каждый новый уровень поднимает значение всех характеристик на 1%. 🔹 Изменены статы некоторых героев: Жрец Солнца: радиус способности увеличен на 2 гекса, а скорость перемещения и расстояние атаки теперь равны 2 гексам;
                                        a(href="new.html").articles__slide-btn.rect Подробнее 
                                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6H12" stroke="#0E322F"/>
                                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                                            </svg> 
                                            +rect
                                    .articles__slide.news__article 
                                        p.articles__slide-title Вышло обновление игры
                                        p.articles__slide-date 
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.6" clip-path="url(#clip0_279_776)">
                                                <path d="M11.297 1.07808H10.7748V0.549683C10.7748 0.247779 10.5301 0.00305176 10.2282 0.00305176C9.92631 0.00305176 9.68158 0.247779 9.68158 0.549683V1.07808H4.31839V0.549683C4.31839 0.247779 4.07366 0.00305176 3.77176 0.00305176C3.46985 0.00305176 3.22513 0.247779 3.22513 0.549683V1.07808H2.70296C1.21254 1.07808 0 2.29062 0 3.78101V11.2939C0 12.7843 1.21254 13.9968 2.70296 13.9968H11.2971C12.7875 13.9968 14 12.7843 14 11.2939V3.78101C14 2.29062 12.7875 1.07808 11.297 1.07808ZM2.70296 2.17135H3.22513V3.23728C3.22513 3.53918 3.46985 3.78391 3.77176 3.78391C4.07366 3.78391 4.31839 3.53918 4.31839 3.23728V2.17135H9.68161V3.23728C9.68161 3.53918 9.92634 3.78391 10.2282 3.78391C10.5301 3.78391 10.7749 3.53918 10.7749 3.23728V2.17135H11.2971C12.1846 2.17135 12.9067 2.89345 12.9067 3.78101V4.30321H1.09326V3.78101C1.09326 2.89345 1.81536 2.17135 2.70296 2.17135ZM11.297 12.9036H2.70296C1.81536 12.9036 1.09326 12.1815 1.09326 11.2939V5.39647H12.9067V11.2939C12.9067 12.1815 12.1846 12.9036 11.297 12.9036ZM4.85592 7.54657C4.85592 7.84847 4.61119 8.0932 4.30929 8.0932H3.23425C2.93235 8.0932 2.68762 7.84847 2.68762 7.54657C2.68762 7.24466 2.93235 6.99994 3.23425 6.99994H4.30929C4.61117 6.99994 4.85592 7.24466 4.85592 7.54657ZM11.3124 7.54657C11.3124 7.84847 11.0677 8.0932 10.7658 8.0932H9.69074C9.38883 8.0932 9.14411 7.84847 9.14411 7.54657C9.14411 7.24466 9.38883 6.99994 9.69074 6.99994H10.7658C11.0676 6.99994 11.3124 7.24466 11.3124 7.54657ZM8.08105 7.54657C8.08105 7.84847 7.83632 8.0932 7.53441 8.0932H6.45938C6.15748 8.0932 5.91275 7.84847 5.91275 7.54657C5.91275 7.24466 6.15748 6.99994 6.45938 6.99994H7.53441C7.83629 6.99994 8.08105 7.24466 8.08105 7.54657ZM4.85592 10.7717C4.85592 11.0736 4.61119 11.3183 4.30929 11.3183H3.23425C2.93235 11.3183 2.68762 11.0736 2.68762 10.7717C2.68762 10.4698 2.93235 10.2251 3.23425 10.2251H4.30929C4.61117 10.2251 4.85592 10.4698 4.85592 10.7717ZM11.3124 10.7717C11.3124 11.0736 11.0677 11.3183 10.7658 11.3183H9.69074C9.38883 11.3183 9.14411 11.0736 9.14411 10.7717C9.14411 10.4698 9.38883 10.2251 9.69074 10.2251H10.7658C11.0676 10.2251 11.3124 10.4698 11.3124 10.7717ZM8.08105 10.7717C8.08105 11.0736 7.83632 11.3183 7.53441 11.3183H6.45938C6.15748 11.3183 5.91275 11.0736 5.91275 10.7717C5.91275 10.4698 6.15748 10.2251 6.45938 10.2251H7.53441C7.83629 10.2251 8.08105 10.4698 8.08105 10.7717Z" fill="#0E322F"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_279_776">
                                                <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            | 12 мая в 13:47
                                        p.articles__slide-p Подробности:  🔹 Игроки ЗБТ при поиске соперника больше не привязаны к рейтингу. 🔹 Время поиска боя повышено с 7 секунд до 5 минут. Конечно, поиск можно прервать самостоятельно. 🔹 На экране расстановки отряда теперь можно перетаскивать юнитов с одного гекса на другой. 🔹 После лонг тапа на юнита в собранном отряде его изображение больше не
                                        a(href="new.html").articles__slide-btn.rect Подробнее 
                                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6H12" stroke="#0E322F"/>
                                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                                            </svg> 
                                            +rect        
                                    .articles__slide.news__article 
                                        p.articles__slide-title Подробности прокачки персонажей
                                        p.articles__slide-date 
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.6" clip-path="url(#clip0_279_776)">
                                                <path d="M11.297 1.07808H10.7748V0.549683C10.7748 0.247779 10.5301 0.00305176 10.2282 0.00305176C9.92631 0.00305176 9.68158 0.247779 9.68158 0.549683V1.07808H4.31839V0.549683C4.31839 0.247779 4.07366 0.00305176 3.77176 0.00305176C3.46985 0.00305176 3.22513 0.247779 3.22513 0.549683V1.07808H2.70296C1.21254 1.07808 0 2.29062 0 3.78101V11.2939C0 12.7843 1.21254 13.9968 2.70296 13.9968H11.2971C12.7875 13.9968 14 12.7843 14 11.2939V3.78101C14 2.29062 12.7875 1.07808 11.297 1.07808ZM2.70296 2.17135H3.22513V3.23728C3.22513 3.53918 3.46985 3.78391 3.77176 3.78391C4.07366 3.78391 4.31839 3.53918 4.31839 3.23728V2.17135H9.68161V3.23728C9.68161 3.53918 9.92634 3.78391 10.2282 3.78391C10.5301 3.78391 10.7749 3.53918 10.7749 3.23728V2.17135H11.2971C12.1846 2.17135 12.9067 2.89345 12.9067 3.78101V4.30321H1.09326V3.78101C1.09326 2.89345 1.81536 2.17135 2.70296 2.17135ZM11.297 12.9036H2.70296C1.81536 12.9036 1.09326 12.1815 1.09326 11.2939V5.39647H12.9067V11.2939C12.9067 12.1815 12.1846 12.9036 11.297 12.9036ZM4.85592 7.54657C4.85592 7.84847 4.61119 8.0932 4.30929 8.0932H3.23425C2.93235 8.0932 2.68762 7.84847 2.68762 7.54657C2.68762 7.24466 2.93235 6.99994 3.23425 6.99994H4.30929C4.61117 6.99994 4.85592 7.24466 4.85592 7.54657ZM11.3124 7.54657C11.3124 7.84847 11.0677 8.0932 10.7658 8.0932H9.69074C9.38883 8.0932 9.14411 7.84847 9.14411 7.54657C9.14411 7.24466 9.38883 6.99994 9.69074 6.99994H10.7658C11.0676 6.99994 11.3124 7.24466 11.3124 7.54657ZM8.08105 7.54657C8.08105 7.84847 7.83632 8.0932 7.53441 8.0932H6.45938C6.15748 8.0932 5.91275 7.84847 5.91275 7.54657C5.91275 7.24466 6.15748 6.99994 6.45938 6.99994H7.53441C7.83629 6.99994 8.08105 7.24466 8.08105 7.54657ZM4.85592 10.7717C4.85592 11.0736 4.61119 11.3183 4.30929 11.3183H3.23425C2.93235 11.3183 2.68762 11.0736 2.68762 10.7717C2.68762 10.4698 2.93235 10.2251 3.23425 10.2251H4.30929C4.61117 10.2251 4.85592 10.4698 4.85592 10.7717ZM11.3124 10.7717C11.3124 11.0736 11.0677 11.3183 10.7658 11.3183H9.69074C9.38883 11.3183 9.14411 11.0736 9.14411 10.7717C9.14411 10.4698 9.38883 10.2251 9.69074 10.2251H10.7658C11.0676 10.2251 11.3124 10.4698 11.3124 10.7717ZM8.08105 10.7717C8.08105 11.0736 7.83632 11.3183 7.53441 11.3183H6.45938C6.15748 11.3183 5.91275 11.0736 5.91275 10.7717C5.91275 10.4698 6.15748 10.2251 6.45938 10.2251H7.53441C7.83629 10.2251 8.08105 10.4698 8.08105 10.7717Z" fill="#0E322F"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_279_776">
                                                <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            | 26 апреля в 20:14
                                        p.articles__slide-p Прокачивать героев можно двумя способами: #[br] 1. Прокачка характеристик — доступна всем персонажам. Можно улучшить такие характеристики, как HP, сила атаки, критический шанс, защита. На экране отображается, на сколько баллов будет улучшена характеристика (это показано на скрине). Характеристики улучшаются за стандартную игровую...
                                        a(href="new.html").articles__slide-btn.rect Подробнее 
                                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6H12" stroke="#0E322F"/>
                                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                                            </svg> 
                                            +rect
                                    .articles__slide.news__article 
                                        p.articles__slide-title Вышел новый патч
                                        p.articles__slide-date 
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.6" clip-path="url(#clip0_279_776)">
                                                <path d="M11.297 1.07808H10.7748V0.549683C10.7748 0.247779 10.5301 0.00305176 10.2282 0.00305176C9.92631 0.00305176 9.68158 0.247779 9.68158 0.549683V1.07808H4.31839V0.549683C4.31839 0.247779 4.07366 0.00305176 3.77176 0.00305176C3.46985 0.00305176 3.22513 0.247779 3.22513 0.549683V1.07808H2.70296C1.21254 1.07808 0 2.29062 0 3.78101V11.2939C0 12.7843 1.21254 13.9968 2.70296 13.9968H11.2971C12.7875 13.9968 14 12.7843 14 11.2939V3.78101C14 2.29062 12.7875 1.07808 11.297 1.07808ZM2.70296 2.17135H3.22513V3.23728C3.22513 3.53918 3.46985 3.78391 3.77176 3.78391C4.07366 3.78391 4.31839 3.53918 4.31839 3.23728V2.17135H9.68161V3.23728C9.68161 3.53918 9.92634 3.78391 10.2282 3.78391C10.5301 3.78391 10.7749 3.53918 10.7749 3.23728V2.17135H11.2971C12.1846 2.17135 12.9067 2.89345 12.9067 3.78101V4.30321H1.09326V3.78101C1.09326 2.89345 1.81536 2.17135 2.70296 2.17135ZM11.297 12.9036H2.70296C1.81536 12.9036 1.09326 12.1815 1.09326 11.2939V5.39647H12.9067V11.2939C12.9067 12.1815 12.1846 12.9036 11.297 12.9036ZM4.85592 7.54657C4.85592 7.84847 4.61119 8.0932 4.30929 8.0932H3.23425C2.93235 8.0932 2.68762 7.84847 2.68762 7.54657C2.68762 7.24466 2.93235 6.99994 3.23425 6.99994H4.30929C4.61117 6.99994 4.85592 7.24466 4.85592 7.54657ZM11.3124 7.54657C11.3124 7.84847 11.0677 8.0932 10.7658 8.0932H9.69074C9.38883 8.0932 9.14411 7.84847 9.14411 7.54657C9.14411 7.24466 9.38883 6.99994 9.69074 6.99994H10.7658C11.0676 6.99994 11.3124 7.24466 11.3124 7.54657ZM8.08105 7.54657C8.08105 7.84847 7.83632 8.0932 7.53441 8.0932H6.45938C6.15748 8.0932 5.91275 7.84847 5.91275 7.54657C5.91275 7.24466 6.15748 6.99994 6.45938 6.99994H7.53441C7.83629 6.99994 8.08105 7.24466 8.08105 7.54657ZM4.85592 10.7717C4.85592 11.0736 4.61119 11.3183 4.30929 11.3183H3.23425C2.93235 11.3183 2.68762 11.0736 2.68762 10.7717C2.68762 10.4698 2.93235 10.2251 3.23425 10.2251H4.30929C4.61117 10.2251 4.85592 10.4698 4.85592 10.7717ZM11.3124 10.7717C11.3124 11.0736 11.0677 11.3183 10.7658 11.3183H9.69074C9.38883 11.3183 9.14411 11.0736 9.14411 10.7717C9.14411 10.4698 9.38883 10.2251 9.69074 10.2251H10.7658C11.0676 10.2251 11.3124 10.4698 11.3124 10.7717ZM8.08105 10.7717C8.08105 11.0736 7.83632 11.3183 7.53441 11.3183H6.45938C6.15748 11.3183 5.91275 11.0736 5.91275 10.7717C5.91275 10.4698 6.15748 10.2251 6.45938 10.2251H7.53441C7.83629 10.2251 8.08105 10.4698 8.08105 10.7717Z" fill="#0E322F"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_279_776">
                                                <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            | 22 апреля в 10:08
                                        p.articles__slide-p Давайте знакомиться с новым патчем! 🔎 Что изменилось: 🔹 Исправлена расстановка: герои больше не встают в кучу ​​​​​​​перед боем​​​​​​​ 🔹 Упрощена прокачка персонажей. Каждый новый уровень поднимает значение всех характеристик на 1%. 🔹 Изменены статы некоторых героев: Жрец Солнца: радиус способности увеличен на 2 гекса, а скорость перемещения и расстояние атаки теперь равны 2 гексам;
                                        a(href="new.html").articles__slide-btn.rect Подробнее 
                                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6H12" stroke="#0E322F"/>
                                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                                            </svg> 
                                            +rect
                                    .articles__slide.news__article 
                                        p.articles__slide-title Вышло обновление игры
                                        p.articles__slide-date 
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.6" clip-path="url(#clip0_279_776)">
                                                <path d="M11.297 1.07808H10.7748V0.549683C10.7748 0.247779 10.5301 0.00305176 10.2282 0.00305176C9.92631 0.00305176 9.68158 0.247779 9.68158 0.549683V1.07808H4.31839V0.549683C4.31839 0.247779 4.07366 0.00305176 3.77176 0.00305176C3.46985 0.00305176 3.22513 0.247779 3.22513 0.549683V1.07808H2.70296C1.21254 1.07808 0 2.29062 0 3.78101V11.2939C0 12.7843 1.21254 13.9968 2.70296 13.9968H11.2971C12.7875 13.9968 14 12.7843 14 11.2939V3.78101C14 2.29062 12.7875 1.07808 11.297 1.07808ZM2.70296 2.17135H3.22513V3.23728C3.22513 3.53918 3.46985 3.78391 3.77176 3.78391C4.07366 3.78391 4.31839 3.53918 4.31839 3.23728V2.17135H9.68161V3.23728C9.68161 3.53918 9.92634 3.78391 10.2282 3.78391C10.5301 3.78391 10.7749 3.53918 10.7749 3.23728V2.17135H11.2971C12.1846 2.17135 12.9067 2.89345 12.9067 3.78101V4.30321H1.09326V3.78101C1.09326 2.89345 1.81536 2.17135 2.70296 2.17135ZM11.297 12.9036H2.70296C1.81536 12.9036 1.09326 12.1815 1.09326 11.2939V5.39647H12.9067V11.2939C12.9067 12.1815 12.1846 12.9036 11.297 12.9036ZM4.85592 7.54657C4.85592 7.84847 4.61119 8.0932 4.30929 8.0932H3.23425C2.93235 8.0932 2.68762 7.84847 2.68762 7.54657C2.68762 7.24466 2.93235 6.99994 3.23425 6.99994H4.30929C4.61117 6.99994 4.85592 7.24466 4.85592 7.54657ZM11.3124 7.54657C11.3124 7.84847 11.0677 8.0932 10.7658 8.0932H9.69074C9.38883 8.0932 9.14411 7.84847 9.14411 7.54657C9.14411 7.24466 9.38883 6.99994 9.69074 6.99994H10.7658C11.0676 6.99994 11.3124 7.24466 11.3124 7.54657ZM8.08105 7.54657C8.08105 7.84847 7.83632 8.0932 7.53441 8.0932H6.45938C6.15748 8.0932 5.91275 7.84847 5.91275 7.54657C5.91275 7.24466 6.15748 6.99994 6.45938 6.99994H7.53441C7.83629 6.99994 8.08105 7.24466 8.08105 7.54657ZM4.85592 10.7717C4.85592 11.0736 4.61119 11.3183 4.30929 11.3183H3.23425C2.93235 11.3183 2.68762 11.0736 2.68762 10.7717C2.68762 10.4698 2.93235 10.2251 3.23425 10.2251H4.30929C4.61117 10.2251 4.85592 10.4698 4.85592 10.7717ZM11.3124 10.7717C11.3124 11.0736 11.0677 11.3183 10.7658 11.3183H9.69074C9.38883 11.3183 9.14411 11.0736 9.14411 10.7717C9.14411 10.4698 9.38883 10.2251 9.69074 10.2251H10.7658C11.0676 10.2251 11.3124 10.4698 11.3124 10.7717ZM8.08105 10.7717C8.08105 11.0736 7.83632 11.3183 7.53441 11.3183H6.45938C6.15748 11.3183 5.91275 11.0736 5.91275 10.7717C5.91275 10.4698 6.15748 10.2251 6.45938 10.2251H7.53441C7.83629 10.2251 8.08105 10.4698 8.08105 10.7717Z" fill="#0E322F"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_279_776">
                                                <rect width="14" height="14" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            | 12 мая в 13:47
                                        p.articles__slide-p Подробности:  🔹 Игроки ЗБТ при поиске соперника больше не привязаны к рейтингу. 🔹 Время поиска боя повышено с 7 секунд до 5 минут. Конечно, поиск можно прервать самостоятельно. 🔹 На экране расстановки отряда теперь можно перетаскивать юнитов с одного гекса на другой. 🔹 После лонг тапа на юнита в собранном отряде его изображение больше не
                                        a(href="new.html").articles__slide-btn.rect Подробнее 
                                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6H12" stroke="#0E322F"/>
                                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                                            </svg> 
                                            +rect        
                                a(href="news.html").articles__btn.rect.flex.sm Смотреть ещё
                                        <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 6H12" stroke="#D4EAE8"/>
                                            <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#D4EAE8" stroke-width="1.5"/>
                                        </svg> 
                                        +rect
            include components/footer 
            +footer
        script(src="js/app.min.js")  