include components/rect.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Fantasy Hearts
    body.white 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .breadcrumb     
                    .breadcrumb__body.container
                        p.breadcrumb__p #[a(href="index.html") Главная]
                            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#68827F"/>
                            </svg>
                            | #[a(href="store.html").active Рейтинг меценатов]
                section.rating 
                    .rating__body.container
                        .rating__top 
                            .rating__left
                                h2.rating__subtitle.subtitle
                                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.5 0L17.1462 9.85378L27 13.5L17.1462 17.1462L13.5 27L9.85378 17.1462L0 13.5L9.85378 9.85378L13.5 0Z" fill="#0E322F"/>
                                    </svg> Рейтинг меценатов
                                p.rating__desc Доска почета наших донатеров. Ваше имя появится в списке, если вы купите в Магазине статус «Меценат». Чем больше сумма ваших покупок, тем выше ваше имя в рейтинге. Если сумма совпадает с другим донатером, выше окажется тот, кто внес деньги раньше.
                                a(href="rules.html").rating__btn.rect Подробнее <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6H12" stroke="#0E322F"/><path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/></svg>   
                                    +rect 
                            .rating__right 
                                .store__item    
                                    .store__img 
                                        img(src="@img/store-img-1.png", alt="")
                                    .store__content.rating__item-content 
                                        p.store__title Меценат
                                        p.store__desc Покупка статуса «Меценат» дает вам рейтинг в таблице меценатов, закрытый чат и многое другое, всего мест — 50. Покупая этот статус, вы активно участвуете в развитии игры, получаете первыми советы от авторов и влияете на ход событий. Введите произвольную сумму, ваш донат поможет развитию проекта
                                        form(action="").store__form.df.disable-md
                                            input(type="number" placeholder="Введите сумму в руб").store__input
                                            button(type="submit" disabled).store__btn.form__btn Купить
                                form(action="#").store__form.df.enable-md
                                    input(type="number" placeholder="Введите сумму в руб").store__input
                                    button(type="submit" disabled).store__btn.form__btn Купить
                        .rating__content-wrap 
                            .rating__content
                                .rating__line 
                                    .rating__item-wrap.pink
                                        .rating__item.pink
                                            .rating__item-left 
                                                span.rating__num 1
                                                .rating__item-flex 
                                                    h2.rating__name Верховный инквизитор
                                            .rating__item-right 
                                                p.rating__price 7 777 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")] 
                                .rating__line
                                    .rating__item-wrap.yellow
                                        .rating__item.yellow
                                            .rating__item-left 
                                                span.rating__num 2
                                                .rating__item-flex 
                                                    h2.rating__name Киридзи
                                            .rating__item-right 
                                                p.rating__price 3 700 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.yellow
                                        .rating__item.yellow
                                            .rating__item-left 
                                                span.rating__num 3
                                                .rating__item-flex 
                                                    h2.rating__name Адепт Добра 
                                            .rating__item-right 
                                                p.rating__price 1 200 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.yellow
                                        .rating__item.yellow
                                            .rating__item-left 
                                                span.rating__num 4
                                                .rating__item-flex 
                                                    h2.rating__name Plushsamurai
                                            .rating__item-right 
                                                p.rating__price 1 000 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.yellow
                                        .rating__item.yellow
                                            .rating__item-left 
                                                span.rating__num 5
                                                .rating__item-flex 
                                                    h2.rating__name Nightmare
                                            .rating__item-right 
                                                p.rating__price 1 000 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                .rating__line
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 6
                                                .rating__item-flex 
                                                    h2.rating__name BananaFox
                                            .rating__item-right 
                                                p.rating__price 501 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 7
                                                .rating__item-flex 
                                                    h2.rating__name Ersent
                                            .rating__item-right 
                                                p.rating__price 500 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green 
                                            .rating__item-left 
                                                span.rating__num 8
                                                .rating__item-flex 
                                                    h2.rating__name Nelega
                                            .rating__item-right 
                                                p.rating__price 333 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 9
                                                .rating__item-flex 
                                                    h2.rating__name Aleksandr159
                                            .rating__item-right 
                                                p.rating__price 250 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 10
                                                .rating__item-flex 
                                                    h2.rating__name [Anonymous]
                                            .rating__item-right 
                                                p.rating__price 200 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 11
                                                .rating__item-flex 
                                                    h2.rating__name Kriomi
                                            .rating__item-right 
                                                p.rating__price 150 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 12
                                                .rating__item-flex 
                                                    h2.rating__name Стилгар
                                            .rating__item-right 
                                                p.rating__price 100 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 13
                                                .rating__item-flex 
                                                    h2.rating__name ESC 
                                            .rating__item-right 
                                                p.rating__price 100 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 14
                                                .rating__item-flex 
                                                    h2.rating__name [Anonymous]
                                            .rating__item-right 
                                                p.rating__price 100 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.green
                                        .rating__item.green
                                            .rating__item-left 
                                                span.rating__num 15
                                                .rating__item-flex 
                                                    h2.rating__name Aoket
                                            .rating__item-right 
                                                p.rating__price 100 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                .rating__line 
                                    .rating__item-wrap.grey
                                        .rating__item.grey
                                            .rating__item-left 
                                                span.rating__num 16
                                                .rating__item-flex 
                                                    h2.rating__name Anaraks
                                            .rating__item-right 
                                                p.rating__price 90 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                                    .rating__item-wrap.grey
                                        .rating__item.grey
                                            .rating__item-left 
                                                span.rating__num 17
                                                .rating__item-flex 
                                                    h2.rating__name Хозяин Клея
                                            .rating__item-right 
                                                p.rating__price 80 #[img(src="@img/rating-money.png", alt="" draggable="false" loading="lazy")]
                        a(href="#!").rating__btn.rating__btn_bottom.rect Попасть в доску 
                            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 6H12" stroke="#0E322F"/>
                                <path d="M7 1C7.86854 3.72607 8.88726 4.84527 12 6C8.90751 7.18829 7.95537 8.37847 7 11" stroke="#0E322F" stroke-width="1.5"/>
                            </svg> 
                            +rect
            include components/footer 
            +footer
        script(src="js/app.min.js") 