include components/rect.pug

doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="css/style.min.css") 
        title Fantasy Hearts  
    body.white 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .breadcrumb     
                    .breadcrumb__body.container 
                        p.breadcrumb__p #[a(href="index.html") Главная] 
                            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#68827F"/>
                            </svg>
                            | #[a(href="rating.html") Рейтинг меценатов] 
                            <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.5 0L4.44532 2.55468L7 3.5L4.44532 4.44532L3.5 7L2.55468 4.44532L0 3.5L2.55468 2.55468L3.5 0Z" fill="#68827F"/>
                            </svg>
                            | #[a(href="store.html").active Правила] 
                section.rules 
                    .rules__body.container
                        h2.rules__title
                            <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 0L17.1462 9.85378L27 13.5L17.1462 17.1462L13.5 27L9.85378 17.1462L0 13.5L9.85378 9.85378L13.5 0Z" fill="#0E322F"/>
                            </svg> Правила
                        .rules__content 
                            .rules__left 
                                p.rating__desc 1. Меценат автоматически попадает в Таблицу 1-50 при условии, что его (ее) донат перекрывает предыдущие донаты (либо в таблице есть свободное место). <br><br>2. Меценаты, находящиеся в Таблице 1-50, остаются там до перекрытия доната. Соответственно, происходит понижение номера. <br><br>3. Меценат, который снова передал донат, получает отображение общей суммы и перемещение (в случае необходимости) в верх таблицы. <br><br>4. Меценат, опустившийся вниз с 50 места (последнее), выбывает из таблицы. Повторное занятие места в таблице возможно только в случае перекрытия имеющихся меценатов по сумме. <br><br>5. По итогам года Топ-1 Меценат получает от создателей игры Особенный Персональный Подарок. <br><br>6. Если какой-либо Меценат был изгнан из группы (за нарушения) или получил бан (либо добровольно покинул группу) — такой меценат из таблицы выбывает (обнуление). Чтите Порядок!
                                .store__item    
                                    .store__img 
                                        img(src="@img/store-img-1.png", alt="")
                                    .store__content.rating__item-content 
                                        p.store__title Меценат
                                        p.store__desc Покупка статуса «Меценат» дает вам рейтинг в таблице меценатов, закрытый чат и многое другое, всего мест — 50. Покупая этот статус, вы активно участвуете в развитии игры, получаете первыми советы от авторов и влияете на ход событий. Введите произвольную сумму, ваш донат поможет развитию проекта
                                        form(action="").store__form.df.disable-md
                                            input(type="number" placeholder="Введите сумму в руб").store__input
                                            button(type="submit" disabled).store__btn.form__btn Купить
                                form(action="#").store__form.df.enable-md
                                    input(type="number" placeholder="Введите сумму в руб").store__input
                                    button(type="submit" disabled).store__btn.form__btn Купить
                                .rules__info.enable-xxl Весь полученный донат тратится на развитие игры
                            .rules__right 
                                .rules__item-wrap
                                    .rules__item 
                                        p.rules__item-title Чем меценат отличается от других игроков?
                                        p.rules__item-p В игре каждый меценат получит ряд отличительных особенностей: яркие рамки аватаров с коронами разной степени крутости. Топ-10 будут одни отличия, с 11 по 25-е место — другие, а вот с 26 по 50-е реализуем третий вариант. <br>Вокруг ника мецената будет красивая рамка — таким образом каждый будет знать, что вы не рядовой игрок и участвуете в развитии игры. <br>Каждый меценат на форуме игры получит особый статус, который также будет отличать его от остальных участников игрового комьюнити. <br>Будут отдельные голосования и опросы для меценатов, закрытый чат, возможность напрямую общаться с командой игры и доносить свое мнение, жалобы и пожелания. А также много всего другого.
                                        p.rules__item-title Кто может участвовать?
                                        p.rules__item-p Сумма участия в развитии игры стартует от 100 рублей. Чем больше ваша сумма участия, тем выше вы в рейтинге меценатов. <br>Но помните — мест в таблице активных меценатов всего 50. Выбыть из таблицы меценатов можно, если вы окажетесь на 51 месте по сумме участия. Таким образом, в игре всегда будет не более 50 участников с отличительными знаками и возможностями общения и влияния на ход игры.
                                .rules__info.disable-xxl Весь полученный донат тратится на развитие игры
                            a(href="rating.html").rules__btn 
                                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 6H3" stroke="#0E322F"/>
                                    <path d="M8 1C7.13146 3.72607 6.11274 4.84527 3 6C6.09249 7.18829 7.04463 8.37847 8 11" stroke="#0E322F" stroke-width="1.5"/>
                                </svg>
                                | Вернуться назад
            include components/footer 
            +footer
        script(src="js/app.min.js") 